<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <style type="text/css" media="screen">
      .guiderwords{
      font-size: small;
      margin-left: 0.5em;
      margin-top: -0.8em;
      position: absolute;
      color: gray;
  }
    </style>
  </head>
  <body>
    <span id="checkword"><img src="/static/checkcode.png" class="" alt="" /></span>
    <span class="guiderwords">(请输入包含蓝色单词的第 <img src="/static/checkcode_number.png" class="" alt="" />个字母在内的，其相邻的1或2个字母)</span>
  </body>
</html>
