%include('basewithnav.tpl', title="")
<style type="text/css" media="screen">
  body{
  font-size:1em;
  }
.navbar{
  height:7.5em;
  }
.collapse{
   margin-top:0.6em;
  }
.navbar-right{
  width:60%;
  }
.dropdown{
  font-size:6em;
  }
.dropdown-menu{
   font-size:37px;
  }
#usericon{
  font-size:6em;
  }
#userinfo{
  font-size: 2em;
    color: gray;
    margin: -32px 0px 0 75px;
    position: absolute;
  }
.search{
   font-size: 1.8em;
  }
.searchword{
  font-size:1.5em;
  }
 .form-group{
  width: 70%;
  }
  #searchinput{
    width: 100%;
    height: 4em;
  }
</style>


<style type="text/css" media="screen">
  #itemtabs li{
  font-size:3em;
}
.classifiy{
  font-size:4em;
  }
.classifiy span{
  box-shadow: 1px 3px 3px gray;
  }

  .welllist{
  padding: 0 1em 0 1em;
  }
  .welllist .well{
   height:15em;
  }
</style>

<ul class="nav nav-tabs nav-justified" id="itemtabs">
<li role="presentation"><a href="#">舞蹈 </a></li>
<li role="presentation"><a href="#">田径 </a></li>
<li role="presentation"><a href="#">自行车类 </a></li>
<li role="presentation"><a href="#">球类 </a></li>
<li role="presentation"><a href="#">冰雪运动 </a></li>
<li role="presentation"><a href="#">户外运动 </a></li>
<li role="presentation"><a href="#">水上运动 </a></li>
<li role="presentation"><a href="#">竞击类 </a></li>
<li role="presentation"><a href="#">射击类 </a></li>
<li role="presentation"><a href="#">传统活动 </a></li>
<li role="presentation"><a href="#">棋牌类 </a></li>
</ul>

<div class="classifiy">
  <span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
</div>

<hr />

<div class="welllist">
  <div class="well well-lg">
    <p>test well 1</p>
  </div>

  <div class="well well-lg">
    <p>test well 1</p>
  </div>

  <div class="well well-lg">
    <p>test well 1</p>
  </div>

</div>

