<style type="text/css" media="screen">
  .searchcomponent .input-group{
    z-index: 10;
    transform: translateZ(0);
    border: 2px solid gray;
  }

  .searchcomponent{
     display: none;
  }
</style>
<div class="container">
  <div class="searchcomponent">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
      <input type="text" class="form-control" placeholder="搜索关键字" aria-describedby="basic-addon1">
    </div>
    <hr />
  </div>
</div>
